body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
}

.input-box {
    display: flex;
    gap: 5px;
}

#taskInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
}

#addBtn {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#addBtn:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    background-color: #f9f9f9;
    padding: 8px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred;
}

